@use "../../styles/variables" as *;

.location-card {
    flex: 1 1 22%; // 4 cards per row
    max-width: 300px;
    min-width: 200px;
    background: $card-bg;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: $shadow;
    transition: transform 0.2s ease;

    &:hover {
        transform: translateY(-4px);
    }

    &_title {
        font-size: 16px;
        font-weight: 600;
        color: $white;
        margin: 5px 0px 20px 0px;
    }

    &_address p {
        margin: 5px 0;
        font-size: 14px;
        color: $muted;
    }
}

// Responsive adjustments
@media (max-width: 1500px) {
    .location-card {
        flex: 1 1 45%; // 2 per row
    }
}

@media (max-width: 600px) {
    .location-card {
        flex: 1 1 90%; // 1 per row
    }
}